<!-- Modal user -->
<div class="modal fade" id="changePasswordModal" tabindex="-1"
	role="dialog" aria-labelledby="changePasswodLabelModal"
	aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-bind="click:closeChangePasswordModalModal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">
					<strong>Change Password</strong>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form data-toggle="validator" role="form">
						<div class="col-md-12">
							<div class="form-group">
								<label>Old Password</label> <input type="password"
									data-bind="value: old_password" class="form-control"
									placeholder="Enter the password" data-error="Required" required />
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<label>New Password:</label> <input
									data-bind="value: new_password" type="password"
									placeholder="New password" class="form-control"
									data-error="Required" required />
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label>Confirm new password</label> <input type="password"
									data-bind="value: confirm_new_password" class="form-control"
									placeholder="Confirm the new password" data-error="Required" required />
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button title="Cancel" type="button" class="btn btn-primary" data-bind="click:closeChangePasswordModalModal"><i class="fa fa-times fa-lg fa-fw"></i> Cancel</button>
					<button title="Save changes" type="button" class="btn btn-primary"
						data-bind="click: changePasswordUser"><i class="fa fa-floppy-o fa-lg fa-fw"></i> Save</button>
				</div>
			</div>
		</div>
	</div>
</div>