<div class="modal fade" id="causeCelebritiesModal" tabindex="-1"
	role="dialog" aria-labelledby="causeCelebrityListModal"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!--Modal header-->
			<div class="modal-header">
				<button data-bind="click: closeCauseCelebritiesModal" type="button"
					class="close">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 class="modal-title" data-bind="foreach: selected_cause">
					<small><label data-bind="text: name"></label></small> <img
						src="/public/images/nav-arrow-right-x32.png" /> <strong>Ambassadors</strong>
				</h3>
			</div>
			<!--Modal body-->
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<!-- Table Avaliable Celebrities -->
						<div class="panel panel-default">
							<div class="panel-heading">Avaliable Celebrities</div>
							<div style="height: 350px; overflow-y: auto;">
								<table id="avaliableCelebrities" class="table table-hover">
									<thead>
										<tr>
											<th></th>
											<th>
											<div class="form-group">
    											<div class="input-group">
							      					<div style="cursor: pointer" data-bind="click:findCelebritiesNotAssociated" class="input-group-addon"><i class="fa fa-filter"></i></div>
								      					<input placeholder="Name" onkeyup="if(event.keyCode == 13) findCelebritiesNotAssociated()" type="text"
														data-bind="value: name_filter_celebrity_not_associated" name="name" class="form-control input-sm" />
							   						</div> 
   											</div>
											<th>Phone</th>
											<th></th>
										</tr>
									</thead>
									<!-- Todo: Generate table body -->
									<tbody data-bind="foreach: cause_avaliable_celebrities">
										<tr>
											<td><img data-bind="attr:{src: avatar_src}" alt=""
												class="" /></td>
											<td data-bind="text: name"></td>
											<td data-bind="text: telephone"></td>
											<td>
												<button title="Add ambassadors" data-bind="click: addCelebrity" type="button"
													class="btn btn-default btn-sm">
													<span class="glyphicon glyphicon-circle-arrow-right"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Table Selected Celebrities-->
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Selected Celebrities</div>
							<div style="height: 350px; overflow-y: auto;">
								<table id="selectedCelebrities" class="table table-hover">
									<thead>
										<tr>
											<th></th>
											<th>
											<div class="form-group">
    											<div class="input-group">
							      					<div style="cursor: pointer" data-bind="click:findCelebritiesAssociated" class="input-group-addon"><i class="fa fa-filter"></i></div>
							      					<input placeholder="Name" onkeyup="if(event.keyCode == 13) findCelebritiesAssociated()" type="text"
													data-bind="value: name_filter_celebrity_associated" name="name" class="form-control input-sm" />
							   					</div> 
   											</div>
											<th>Phone</th>
											<th></th>
										</tr>
									</thead>
									<!-- Todo: Generate table body -->
									<tbody data-bind="foreach: cause_selected_celebrities">
										<tr>
											<td><img
												data-bind="attr:{src: avatar_src}" alt="" class="" /></td>
											<td data-bind="text: name"></td>
											<td data-bind="text: telephone"></td>
											<td>
												<button title="Remove ambassadors" data-bind="click: removeCelebrity" type="button"
													class="btn btn-default btn-sm">
													<span class="glyphicon glyphicon-remove-circle"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Modal footer-->
			<div class="modal-footer">
				<button title="Cancel" data-bind="click: closeCauseCelebritiesModal" type="reset"
					class="btn btn-primary"><i class="fa fa-times fa-lg fa-fw"></i>Cancel</button>
				<button title="Save cause ambassadors" type="button" data-bind="click: saveCauseCelebrities"
					class="btn btn-primary"><i class="fa fa-floppy-o fa-lg fa-fw"></i>Save</button>
			</div>
		</div>
	</div>
</div>