<div>
	<div class="modal-body">
		<div class="panel-body">
			<div class="col-md-2">
				<div class="thumbnail">
					<div align="center"><label><strong>new resource</strong></label></div>
					<div data-bind="foreach: selectedResource">
						<a href="#"><img id="awardResourceImg" data-bind="attr:{src: src}" alt="..."></a>
						<textarea class="form-control input-sm" rows="2" placeholder="Description of the resource" data-bind="value: text">
					   	</textarea>
				   	</div>
				   	<input id="awardResourceInput" type="file" class="form-control input-sm" 
						   name="awardResourceInput" onchange="previewImage(this)" related-img="awardResourceImg" />
				    <div align="center" class="caption">
				    	<button title="Cancel Resource" class="btn btn-default btn-s" data-bind="click: clearResourceAward"><i class="fa fa-eraser"></i></button>
				    	<button title="Add Resource" class="btn btn-default btn-s" data-bind="click: addAwardResource"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<!-- thumbnail resources -->
				<div class="row" data-bind="foreach: awardResources">
					<div class="col-xs-2 col-xs-2 col-xs-2 thumb">
						<label></label>
						<button type="button" class="close" data-bind="click: removeResource"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
						<a data-toggle="modal" data-target="#imgPreviewModal" href="#"
						   class="thumbnail" data-bind="click: previewAwardResource">
							<img data-bind="attr:{src: src}" alt="...">
						</a>
			  		</div>
		  		</div>
			</div>
		</div>
	
	</div> <!-- Modal body -->
	
	<!-- Modal Image preview -->
	<div class="modal fade" id="imgPreviewModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	  <div class="modal-dialog-preview-img">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="imgPreviewModal" aria-hidden="true">&times;</button>
	        <div data-bind="foreach: resourcePreview">
		        <img width="100%" data-bind="attr:{src: src}" alt="...">
		        <textarea class="form-control input-sm" rows="1" placeholder="Description of the resource" 
		        		  data-bind="value: text">
				</textarea>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal Image preview -->
</div>